---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Alex Baumhoer</title>
	</head>
	<body class="flex justify-center items-center">
		<p>Hi, my name is <span class="font-semibold">Alex Baumhoer.</span></p>
	</body>
</html>
<style>
	body {
		height: 100vh;
	}
</style>
